<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title - Staff Travel</title>
    @RenderSection("head", false)
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-N9BFJ47');</script>
    <!-- End Google Tag Manager -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#f36f21">
    <meta name="theme-color" content="#ffffff">
    @{
        string folderPath = Server.MapPath("~/dist");
        string file;
        string src;
        DateTime dateTimeCreated;

        if (Directory.GetFiles(folderPath, "styles.*.css").Length > 0)
        {
            file = Directory.GetFiles(folderPath, "styles.*.css")[0];
            dateTimeCreated = Directory.GetCreationTime(file);
            src = "dist/" + file.Substring(file.IndexOf("styles", StringComparison.OrdinalIgnoreCase)) + "?dtc=" + dateTimeCreated.Ticks.ToString();
            <link href="@src" rel="stylesheet" />
        }
    }    
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9BFJ47" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    @RenderBody()

    @{
        file = Directory.GetFiles(folderPath, "inline.*.js")[0];
        dateTimeCreated = Directory.GetCreationTime(file);
        src = "dist/" + file.Substring(file.IndexOf("inline", StringComparison.OrdinalIgnoreCase)) + "?dtc=" + dateTimeCreated.Ticks.ToString();
        <script type="text/javascript" src="@src"></script>

        file = Directory.GetFiles(folderPath, "polyfills.*.js")[0];
        dateTimeCreated = Directory.GetCreationTime(file);
        src = "dist/" + file.Substring(file.IndexOf("polyfills", StringComparison.OrdinalIgnoreCase)) + "?dtc=" + dateTimeCreated.Ticks.ToString();
        <script type="text/javascript" src="@src"></script>

        if (Directory.GetFiles(folderPath, "styles.*.js").Length > 0)
        {
            file = Directory.GetFiles(folderPath, "styles.*.js")[0];
            dateTimeCreated = Directory.GetCreationTime(file);
            src = "dist/" + file.Substring(file.IndexOf("styles", StringComparison.OrdinalIgnoreCase)) + "?dtc=" + dateTimeCreated.Ticks.ToString();
            <script type="text/javascript" src="@src"></script>
        }


        file = Directory.GetFiles(folderPath, "vendor.*.js")[0];
        dateTimeCreated = Directory.GetCreationTime(file);
        src = "dist/" + file.Substring(file.IndexOf("vendor", StringComparison.OrdinalIgnoreCase)) + "?dtc=" + dateTimeCreated.Ticks.ToString();
        <script type="text/javascript" src="@src"></script>

        file = Directory.GetFiles(folderPath, "main.*.js")[0];
        dateTimeCreated = Directory.GetCreationTime(file);
        src = "dist/" + file.Substring(file.IndexOf("main", StringComparison.OrdinalIgnoreCase)) + "?dtc=" + dateTimeCreated.Ticks.ToString();
        <script type="text/javascript" src="@src"></script>
    }

    @RenderSection("scripts", required: false)
</body>
</html>